@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./variable.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family, 'Poppins', sans-serif);
}

/* header section start  */

header .container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 67px;
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: #fff;
    z-index: 1000;
    background-color: var(--color-white);
}

.logo, .search-bar, .location ,.login,.cart  {
    margin: 0 25px;
}

.logo svg {
    width: 82%;
    height: 25px;
}



.location .location-title {
    font-size: 13px;
    font-weight: var(--fw-800);
    margin-bottom: 3px;
    letter-spacing: 0.5px;
}

.location .location-description {
    font-size: 10px;
}

.location-description .fa-sort-down {
    transform: translateY(-2px);
    padding-left: 5px;
}


.search-bar {
    width: 52%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    background: var(--color-grey-2);
    color: var(--color-grey);
    height: 38px;
    display: flex;
    align-items: center;
    gap: 13px;
    padding-left: 13px;
    
}

.search-bar input {
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 12px;
    font-weight: 300;
    width: 100%;
}
.search-bar .fa-magnifying-glass{
    width: 15px;
    color: var(--color-black);
}
.search-input{
    width: 100%;
}
.login{
    font-size: 18px;
    color: var(--color-grey);
}
.cart button{
    padding: 13px 15px;
    color: var(--color-white);
    background-color: var(--color-green);
    font-size: 13px;
    font-weight: var(--fw-600);
    border: none;
    border-radius: 5px;
    


}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 68px;

}


.main-container{
    max-width: 1100px;
}
.banner img{
    width: 100%;
}
.banner-2{
    display: flex;
    gap: 20px;
    overflow: auto scroll;
    margin:  14px;
}
.banner-2::-webkit-scrollbar{
    display: none;
}

.banner-2 img{
    height: 165px;
    width: 295px;
}

.category{
    display: grid;
    grid-template-columns: repeat(10, 10%);
}
.section3 img{
    width: 100%;
}

.items{
    display: flex;
    flex-direction: column;
    margin: 14px ;
    row-gap: 20px;
}

.items .tittle{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.category-name{
    font-size: 24px;
    font-weight: var(--fw-800);

}
.tittle a{
    font-size: 18px;
    color: var(--color-green);
    text-decoration: none;
}

.list-items{
    display: flex;
    column-gap: 22px;
    

}

.list-items .item{
   width: 15%;
   border: 0.5px solid rgb(232, 232 , 232);
   box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
   border-radius: 8px;
   padding:  20px;

}

.item .item-img img{
    width: 100%;
}
.item-detail{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.item-detail .timer{
    font-size: 7px;
    font-weight: bolder;
    background-color: var(--color-grey-2);
    width: 38%;
    padding: 3px;

}

.tem-name{
    font-size: 12px;
    font-weight: var(--fw-800);
}

.item-weigth{
    font-size: 10px;
    color: var(--color-grey);
}
.item-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.item-price .price{
    font-size: 10px;
   font-weight: var(--fw-800);
}

.item-price button{
    text-transform: uppercase;
    font-size: 10px;
   font-weight: var(--fw-800);
   padding: 3px 9px;
   color: var(--color-green);
   border: 1px solid var(--color-green);
   border-radius: 2px;
   background-color: var(--color-lightest-green);
}
.footer{
    display: flex;
    position: relative;
    padding: 20px;
    top: 85px;
    justify-content: center;
    background-color: var(--color-grey-2);
    

}
.fa-heart{
    color: red;
    margin: 0 2px;
    transform: translateY(2px);
}

.discount{
    font-size: 10px;
    font-weight: var(--fw-400);
    margin-right: 15px;
}